# Ignorar credenciales
#*.json

# Ignorar el cache de Python
__pycache__/
venv
# Ignorar hojas de cálculo de Excel
#*.xlsx
~$clientes.xlsx

# Ignorar archivo de api keys 
api_keys.py

#Ignorar componentes
aws_keys/
config/

